<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo-List</title>
</head>
<body>
    <h1>Welcome to Todo-List</h1>
    <form action="/" method="POST">
        <input name="task" type="text">
        <button type="submit">ADD TASK</button>
    </form>

    <ul id="ul_display">
        {{#each tasks}}
            <li>{{this}}</li>
        {{/each}}
    </ul>
</body>
</html>